@use "../utilities/variables" as v;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.game-input-field {
  width: 50%;
  height: auto;
  font-size: 30px;
}

.game-btn {
  height: auto;
  font-size: 30px;
  cursor: pointer;
}

.search-bar {
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 1rem;
  background-color: v.$neutral-color;
  border: 1px solid v.$black;
  margin: 0 20%;
  cursor: pointer;
  &:hover {
    background-color:rgb(69, 69, 69);
    color: v.$white;
  }
  overflow-wrap: break-word;
}

.footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
  font-style:italic;
  color: v.$white;
}

.games-title-container {
  color: v.$white;
  text-align: center;
  margin: 4rem auto 4rem;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  background-color: v.$secondary-color;
  border-radius: 30px;
  box-shadow: 10px 10px v.$black;
}

.games-title {
  display: inline-block;
  animation: typing .85s steps(12, end) forwards;
  overflow: hidden;
  border-right: .15em solid v.$accent-color;
  white-space: nowrap;
  width: 0;
  font-size: 130px;
}