.game-input-field {
  width: 50%;
  height: auto;
  font-size: 30px;
}

.game-btn {
  height: auto;
  font-size: 30px;
}

.search-bar {
  height: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}