@use "../utilities/variables" as v;

.library-container {
  margin-top: 1rem;
}

.pill-container {
  margin: 4rem auto 4rem;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  background-color: v.$secondary-color;
  border-radius: 30px;
  box-shadow: 10px 10px v.$black;
}

.library-title {
  color: v.$white;
  text-align: center;
  margin: 4rem auto 4rem;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  background-color: v.$secondary-color;
  font-size: 130px;
  border-radius: 30px;
  box-shadow: 10px 10px v.$black;
}