@use "../utilities/variables" as v;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.library-container {
  margin-top: 1rem;
}

.pill-container {
  margin: 4rem auto 4rem;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  background-color: v.$secondary-color;
  border-radius: 30px;
  box-shadow: 10px 10px v.$black;
}

.library-title-container {
  color: v.$white;
  text-align: center;
  margin: 4rem auto 4rem;
  padding: 1rem 3rem 2rem 3rem;
  width: fit-content;
  background-color: v.$secondary-color;
  border-radius: 30px;
  box-shadow: 10px 10px v.$black;
}

.library-title {
  display: inline-block;
  animation: typing .7s steps(10, end) forwards;
  overflow: hidden;
  border-right: .15em solid v.$accent-color;
  white-space: nowrap;
  width: 0;
  font-size: 130px;
}

.library-list-title {
  color: v.$white;
  font-weight: bold;
  font-size: xx-large;
  margin-right: 1rem;
}

.library-list-dropdown {
  width: 20rem;
  font-size: xx-large;
}

.list-select-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}