.signup-container {
  text-align: center;
}

.signup {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: xx-large;
  width: 25rem;
}

.password-err {
  color: rgb(184, 0, 0);
  font-style: italic;
  margin-top: .5rem;
}