@use "../utilities/variables" as v;

.navbar {
  background-color: v.$black;
  color: v.$white;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: v.$black;
  color: v.$white;
  font-size: xx-large;
  text-underline-position: under;
  &:hover {
    color: v.$accent-color;
  }
}