.popup-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.closeBtn {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
}

.game-cover {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 40rem;
  width: auto;
  max-width: 40rem;
}

.title {
  display: flex;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.load-container {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 40rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.add-btn {
  width: auto;
  padding: 0 2rem;
  margin-left: 2rem;
  font-size: x-large;
  background-color:rgb(156, 0, 0);
  color: white;
}

.name {
  font-weight: bold;
}

.rating-container {
  margin-left: 3rem;
}

.rating-title {
  font-size: xx-large;
  margin-right: 1rem;
}

.rating-dropdown {
  font-size: xx-large;
  width: 75px;
}