$primary-color: #333344;
$secondary-color: #778899;
$accent-color: #aabb99;
$neutral-color: rgb(239, 239, 239);
$black: #000000;
$white: #FFFFFF;
$error-red: rgb(191, 0, 0);
$success-green: rgb(0, 239, 0);